<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            SC-CMS (失策内容管理系统)　<small>轻松开发，专注您的业务</small>
        </h4>
        <div style="float:left; width:157px;">
            <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:10px;">
                <img src="__IMG__/logo.jpg" alt="..." width="135" height="135">
            </div>
        </div>
        <div style="margin-left:170px; margin-top:22px; padding-left:6px;">
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=0047455f3845597286edd381d54076b1e10a45c0c735115f0ee74961f70880af"><img border="0" src="images/group.png" alt="B-JUI前端框架-群1" title="B-JUI前端框架-群1"></a>
            <span class="label label-default">(1群已满)</span>　
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=96974f9b311cb8566e371703e2e4c2abb23c4835f4ec6c2893652f7a3b920c32"><img border="0" src="images/group.png" alt="B-JUI前端框架-群2" title="B-JUI前端框架-群2"></a>
            <span style="padding-left:30px;">官方论坛：</span><a href="http://www.b-jui.com/" target="_blank">http://www.b-jui.com/</a>
        </div>
        <div class="row" style="margin-left:170px; margin-top:10px;">
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-success" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <strong>B-JUI团队欢迎你!</strong>
                    <br><span class="label label-default">开发：</span> <a href="http://weibo.com/xknaan" target="_blank">@萧克南 （成都锦杨）</a> <a href="http://www.topstack.cn" target="_blank">@小策一喋 （北京）</a>
                    <br><span class="label label-default">测试 & 推广：</span> <a href="#">@Jack Yuan （成都锦杨）</a>
                    <br><span class="label label-default">测试 & 试用：</span> <a href="#">@管书清 （小小正能量）</a>
                </div>
            </div>
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <h5>项目地址：<a href="http://git.oschina.net/xknaan/B-JUI" target="_blank">GIT</a>　<a href="http://www.oschina.net/p/bootstrap-for-DWZ" target="_blank">OSCHINA</a></h5>
                    <h5>微博地址：<a href="http://weibo.com/xknaan" target="_blank">http://weibo.com/xknaan</a></h5>
                    <h5>PHP整合：<a href="http://git.oschina.net/xvpindex/ewsdCMS" target="_blank">ThinkPHP整合</a></h5>
                    <h5>JAVA整合：<a href="http://git.oschina.net/xvpindex/ewsdOA" target="_blank">SSM整合</a></h5>
                </div>                                  
            </div>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    <div style="margin-top:5px; overflow:hidden;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">系统信息</h3></div>
                    <div class="panel-body bjui-doc">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <volist name="server_info" id="value" mod="2">
                                        <td>{$key}</td>
                                        <td>{$value}</td>
                                    <eq name="mod" value="1"> </tr><tr> </eq>
                                    </volist>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">PHP已编译模块</h3></div>
                    <div class="panel-body">
                        {$extensions_list}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>