<div class="bjui-pageContent tableContent">
    <table class="table table-hover table-striped"  data-nowrap="true">
        <thead>
            <tr>
                <th width="40">No.</th>
                <th>备份文件名</th>
                <th>文件类型</th>
                <th>备份大小</th>
                <th>创建时间</th>
                <th width="200">操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="list" item="v" >
            <tr data-id="{$v.id}">
                <td>{$key+1}</td>
                <td>{$v.name}</td>
                <td>{$v.type}</td>
                <td>{$v.size|format_bytes}</td>
                <td>{$v.create}</td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="doajax" data-confirm-msg="确定要还原吗"
                    data-url="{:U(import,array('time'=>$v['time']))}">还原数据</button>
                    <button type="button" class="btn btn-danger" data-toggle="doajax" data-confirm-msg="确定要删除吗"
                    data-url="{:U('delbak',array('time'=>$v['time']))}">删除数据</button>
                </td>
            </tr>
           </foreach>
        </tbody>
    </table>
</div>
