<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="__SELF__" method="post">
        <button type="button" class="btn btn-success" data-icon="plus" data-toggle="dialog"
        data-options="{id:'action-add', url:'{:U('Action/add')}', title:'新增行为'}">新增行为</button>&nbsp;
        &nbsp;&nbsp;
        <label>标识/名称：</label><input type="text" value="{$name}" name="name" class="form-control" size="15">&nbsp;
        <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;

        <button type="button" class="btn btn-orange pull-right" data-icon="refresh" onclick="$(this).navtab('refresh');" >刷新</button>
    </form>
</div>

<div class="bjui-pageContent tableContent">
    <table class="table table-hover"  data-nowrap="true">
        <thead>
            <tr>
                <th width="50">ID</th>
                <th>标识</th>
                <th>名称</th>
                <th>类型</th>
                <th>规则</th>
                <th>状态</th>
                <th width="150">操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="list" item="v" >
            <tr data-id="{$v.id}">
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>{$v.title}</td>
                <td><if condition="$v['type'] eq 1">系统<else/>用户</if></td>
                <td>{$v.remark}</td>
                <td>{$v.status|statusBtn=$v['id'],###}</td>
                <td>
                    <button type="button" class="btn btn-green" data-toggle="dialog" data-icon="pencil" data-options="{id:'action-edit{$v.id}', url:'{:U('edit', array('id' => $v['id']))}', title:'编辑行为'}" title="编辑"></button>
                    <a href="{:U('del', array('id' => $v['id']))}" data-icon="trash" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除吗？" title="删除"></a>
                </td>
            </tr>
           </foreach>
        </tbody>
    </table>
</div>

