<div class="bjui-pageContent tableContent">
    <form id="authGroup-auth-form" action="__SELF__" method="post" data-toggle="ajaxform">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td width="140" align="center"><b>角色列表：</b></td>
                <td>
                    <select name="group_id[]" class="form-control" multiple style="width:100%">
                        <foreach name="allGroup" item="v">
                            <option value="{$v.id}" <if condition="in_array($v['id'], $groupsArr)">selected</if>>{$v.title}</option>
                        </foreach>
                    </select>
                    <input type="hidden" name="uid" value="{$uid}">
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-green" data-icon="save">保存</button></li>
    </ul>
</div>
