<div class="bjui-pageContent">
        <form action="{:U('Manager/add')}" method="post" data-toggle="validate" data-reload-navtab="true" data-alertmsg="false">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label class="control-label">用户名：</label></td>
                        <td>
                            <input type="text" name="username" value="{$info.username}" data-rule="用户名:required;">
                            <span class="red">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">昵称/姓名：</label></td>
                        <td>
                            <input type="text" name="nickname" value="{$info.nickname}" data-rule="昵称/姓名:required;">
                            <span class="red">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">密码：</label></td>
                        <td>
                            <input type="password" name="password" placeholder="不填为原密码" data-rule="密码:password">
                            (密码由6-16位数字、字母组成)
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">确认密码：</label></td>
                        <td>
                            <input type="password" name="repassword" placeholder="******" data-rule="确认密码:match(password)">
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">邮箱：</label></td>
                        <td>
                            <input type="text" name="email" value="{$info.email}" data-rule="email">
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">手机：</label></td>
                        <td>
                            <input type="text" name="mobile" value="{$info.mobile}" data-rule="mobile">
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">状态：</label></td>
                        <td colspan="2">
                            <input type="radio" name="status" value="1" data-toggle="icheck" data-label="开启"
                            <eq name="info.status" value="1">checked</eq> >
                            &nbsp;
                            <input type="radio" name="status" value="0" data-toggle="icheck" data-label="关闭"
                            <eq name="info.status" value="0">checked</eq>>
                        </td>
                    </tr>
                    
                    <input type="hidden" name="id" value="{$info.id}">
                </tbody>
            </table>
        </form>
</div>

<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>
