<div class="bjui-pageContent">
        <form action="{:U('Config/add')}" method="post" data-toggle="validate" data-reload-navtab="true" data-alertmsg="false">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>&nbsp;配置标题：</th>
                        <td>
                            <input type="text" name="title" value="{$info.title}" data-rule="标题:required;">
                            <span class="red">*</span>（用于后台显示的配置标题）
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;配置标识：</th>
                        <td>
                            <input type="text" name="name" value="{$info.name}" data-rule="标识:required;letters">
                            <span class="red">*</span>（用于C函数调用，只能使用英文且不能重复）
                        </td>
                    </tr><tr>
                        <th>&nbsp;配置类型：</th>
                        <td>
                            <select name="type" data-toggle="selectpicker" data-width="80">
                                <foreach name="Think.config.CONFIG_TYPE_LIST" item="v">
                                    <option value="{$key}" <if condition="$info['type'] eq $key">selected</if>>{$v}</option>
                                </foreach>
                            </select>
                        </td>
                    </tr><tr>
                        <th>&nbsp;配置分组：</th>
                        <td>
                            <select name="group" data-toggle="selectpicker" data-width="80">
                                    <option value="0">不分组</option>
                                <foreach name="Think.config.CONFIG_GROUPS" item="v">
                                    <option value="{$key}" <if condition="$info['group'] eq $key">selected</if>>{$v}</option>
                                </foreach>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;配置值：</th>
                        <td>
                            <textarea name="value" cols="30" rows="1">{$info.value}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;配置项：</th>
                        <td>
                            <textarea name="extra" cols="30" rows="1">{$info.extra}</textarea> （如果是枚举型 需要配置该项）
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;说明：</th>
                        <td>
                            <textarea name="remark" cols="30" rows="1">{$info.remark}</textarea> （配置详细说明）
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;排序：</th>
                        <td>
                            <input type="text" name="sort" value="{$info.sort}" data-toggle="spinner" size="5"  data-rule="digits">
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;状态：</th>
                        <td>
                            <input type="radio" name="status" value="1" data-toggle="icheck" data-label="开启"
                            <if condition="$info['status'] eq 1">checked</if>>
                            &nbsp;
                            <input type="radio" name="status" value="0" data-toggle="icheck" data-label="关闭"
                            <if condition="$info['status'] eq 0">checked</if>>
                        </td>
                    </tr>
                    <input type="hidden" name="id" value="{$info.id}">
                </tbody>
            </table>
        </form>
</div>

<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>
